# GymPy

Note:
Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

In [22]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint as pprint

# Import API key
from api_keys import g_key

In [23]:
# Part 1 data file
master_data_path = "Output/master_data.csv"
lat_lng_path1 = "Resources/australian_postcodes_loc.csv"
lat_lng_path2 = "Output/postcode_loc_df.csv"

# Read the metadata 
master_data_df = pd.read_csv(master_data_path)
lat_lng_df1 = pd.read_csv(lat_lng_path1)
lat_lng_df2 = pd.read_csv(lat_lng_path2)

In [24]:
master_data_df.shape

(2641, 21)

In [25]:
lat_lng_df1.shape

(18442, 8)

In [26]:
master_data_df.columns

Index(['Postcode', 'House', 'Semi-detached', 'Apartment', 'Other dwelling',
       'No bedrooms (studios, etc)', '1 bedroom', '2 bedrooms', '3 bedrooms',
       '4 bedrooms', '5 bedrooms', '6 or more bedrooms',
       'Couple with no children', 'Couple with children',
       'One parent with children', 'Other family', 'Sole person household',
       'Group household', 'People with Mental Health Conditions',
       'Total People', 'State'],
      dtype='object')

In [27]:
lat_lng_df1.columns

Index(['id', 'Postcodes', 'locality', 'state', 'lat', 'long', 'Lat_precise',
       'Long_precise'],
      dtype='object')

In [28]:
lat_lng_df2.columns

Index(['Unnamed: 0', 'Postcode', 'State', 'Latitude', 'Longitude',
       'Remoteness Area'],
      dtype='object')

In [29]:
master_data_df.dtypes

Postcode                                 int64
House                                    int64
Semi-detached                            int64
Apartment                                int64
Other dwelling                           int64
No bedrooms (studios, etc)               int64
1 bedroom                                int64
2 bedrooms                               int64
3 bedrooms                               int64
4 bedrooms                               int64
5 bedrooms                               int64
6 or more bedrooms                       int64
Couple with no children                  int64
Couple with children                     int64
One parent with children                 int64
Other family                             int64
Sole person household                    int64
Group household                          int64
People with Mental Health Conditions     int64
Total People                             int64
State                                   object
dtype: object

In [30]:
lat_lng_df1.dtypes

id                int64
Postcodes         int64
locality         object
state            object
lat             float64
long            float64
Lat_precise     float64
Long_precise    float64
dtype: object

In [31]:
lat_lng_df1 = lat_lng_df1.drop_duplicates(subset=["Postcodes"], keep='first')

In [32]:
lat_lng_df1.shape

(3167, 8)

In [33]:
master_data_with_coords_df = pd.merge(master_data_df, lat_lng_df1, how="left", left_on=["Postcode"], right_on=["Postcodes"])
master_data_with_coords_df = master_data_with_coords_df.drop("Postcodes",axis=1)
master_data_with_coords_df.head()

,Postcode,House,Semi-detached,Apartment,Other dwelling,"No bedrooms (studios, etc)",1 bedroom,2 bedrooms,3 bedrooms,4 bedrooms,...,People with Mental Health Conditions,Total People,State,id,locality,state,lat,long,Lat_precise,Long_precise
0,800,33,6,5876,4,172,1856,3749,2805,168,...,344,7149,7: Northern Territory,3.0,DARWIN,NT,-12.458684,130.836680,-12.393279,130.776661
1,810,14828,2642,5649,85,207,1768,8552,9360,5484,...,1971,34330,7: Northern Territory,7.0,ALAWA,NT,-12.381806,130.866242,-12.380000,130.873000
2,812,9601,1127,1549,134,67,448,3389,6590,2353,...,1076,18634,7: Northern Territory,24.0,ANULA,NT,-12.391249,130.890470,-12.392800,130.890000
3,820,4926,3337,6733,104,167,1463,7566,7580,2372,...,1112,19920,7: Northern Territory,38.0,BAGOT,NT,-12.428017,130.873315,-12.411487,130.855410
4,822,9415,655,168,348,216,873,3083,4392,1811,...,755,25304,7: Northern Territory,59.0,ACACIA HILLS,NT,-13.643283,136.947051,-12.754154,131.148940

In [34]:
master_data_with_coords_df = master_data_with_coords_df.drop('state', axis=1)
master_data_with_coords_df = master_data_with_coords_df.rename(columns={"State_x": "State"})

In [35]:
master_data_with_coords_df.shape

(2641, 27)

In [36]:
master_data_with_coords_df.head()

,Postcode,House,Semi-detached,Apartment,Other dwelling,"No bedrooms (studios, etc)",1 bedroom,2 bedrooms,3 bedrooms,4 bedrooms,...,Group household,People with Mental Health Conditions,Total People,State,id,locality,lat,long,Lat_precise,Long_precise
0,800,33,6,5876,4,172,1856,3749,2805,168,...,910,344,7149,7: Northern Territory,3.0,DARWIN,-12.458684,130.836680,-12.393279,130.776661
1,810,14828,2642,5649,85,207,1768,8552,9360,5484,...,1737,1971,34330,7: Northern Territory,7.0,ALAWA,-12.381806,130.866242,-12.380000,130.873000
2,812,9601,1127,1549,134,67,448,3389,6590,2353,...,592,1076,18634,7: Northern Territory,24.0,ANULA,-12.391249,130.890470,-12.392800,130.890000
3,820,4926,3337,6733,104,167,1463,7566,7580,2372,...,1843,1112,19920,7: Northern Territory,38.0,BAGOT,-12.428017,130.873315,-12.411487,130.855410
4,822,9415,655,168,348,216,873,3083,4392,1811,...,268,755,25304,7: Northern Territory,59.0,ACACIA HILLS,-13.643283,136.947051,-12.754154,131.148940

In [37]:
pop_greater_10000_coord_df = master_data_with_coords_df.loc[master_data_with_coords_df["Total People"] >= 10000]

In [38]:
pop_greater_10000_coord_df.shape

(852, 27)

In [39]:
wa_pop_greater_10000_df = pop_greater_10000_coord_df.loc[pop_greater_10000_coord_df["State"] == "5: Western Australia"]

In [40]:
wa_pop_greater_10000_df.shape

(90, 27)

In [56]:
wa_pop_greater_10000_df["Mental Health Ratio"]=wa_pop_greater_10000_df["People with Mental Health Conditions"] / wa_pop_greater_10000_df["Total People"]*100

C:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [74]:
wa_pop_greater_10000_df.tail(20)

,Postcode,House,Semi-detached,Apartment,Other dwelling,"No bedrooms (studios, etc)",1 bedroom,2 bedrooms,3 bedrooms,4 bedrooms,...,Total People,State,id,locality,lat,long,Lat_precise,Long_precise,Mental Health Ratio,Gyms
2254,6168,15165,3191,1998,358,71,1164,4764,9859,6259,...,24913,5: Western Australia,16070.0,COOLOONGUP,-32.281957,115.757730,-32.294585,115.762919,11.323405,
2255,6169,24877,764,1053,5,16,421,2153,9635,13319,...,35317,5: Western Australia,16078.0,SAFETY BAY,-32.338504,115.763949,-32.310068,115.731902,11.011694,
2256,6170,10800,268,208,0,4,129,554,3740,6325,...,17329,5: Western Australia,16082.0,LEDA,-32.265645,115.835972,-32.271548,115.801822,8.592533,
2257,6171,23684,823,89,187,24,340,1618,5719,15799,...,37697,5: Western Australia,16084.0,BALDIVIS,-32.328863,115.833257,-32.322218,115.828515,9.334960,
2258,6172,8418,545,0,0,6,43,513,1438,6438,...,13477,5: Western Australia,16085.0,PORT KENNEDY,-32.375470,115.753147,-32.376008,115.751602,10.551310,
2259,6173,7651,75,6,0,0,6,60,847,5973,...,12474,5: Western Australia,16086.0,SECRET HARBOUR,-32.407414,115.757908,-32.405125,115.763437,7.158890,
2267,6208,8954,521,24,234,35,306,1283,3180,4459,...,12946,5: Western Australia,16099.0,BLYTHEWOOD,-32.630616,115.847592,-32.675616,115.861876,10.613317,
2269,6210,48736,8899,1909,301,98,2154,9443,24183,25390,...,75034,5: Western Australia,16112.0,BARRAGUP,-32.557981,115.728286,-32.550200,115.796000,10.067436,
2285,6230,27955,5334,1100,229,62,1606,5154,15656,13168,...,44972,5: Western Australia,16191.0,BUNBURY,-33.341076,115.649205,-33.320997,115.638348,10.622165,
2286,6232,7518,591,26,67,3,69,862,2472,4656,...,11402,5: Western Australia,16205.0,EATON,-33.316625,115.704263,-33.316962,115.715853,10.164883,
2287,6233,13460,495,93,206,38,233,590,3984,8588,...,20432,5: Western Australia,16207.0,AUSTRALIND,-33.279034,115.714430,-33.275121,115.728526,8.917384,
2305,6280,20265,2229,101,398,64,811,2803,8750,10211,...,30585,5: Western Australia,16326.0,ABBA RIVER,-33.728945,115.302732,-33.680481,115.503332,9.772764,
2309,6285,6724,412,46,65,52,288,985,2960,2666,...,10633,5: Western Australia,16372.0,BRAMLEY,-33.941351,115.280972,-33.915819,115.082607,7.335653,
2333,6330,26170,2185,131,423,96,1424,4297,12891,9399,...,38042,5: Western Australia,16532.0,ALBANY,-34.905438,117.863286,-35.026934,117.883721,10.651385,
2398,6430,12287,2555,247,181,48,891,2262,6438,5615,...,21920,5: Western Australia,16861.0,BINDULI,-30.599071,121.446478,-30.797067,121.389741,6.354927,
2412,6450,8226,827,185,151,71,532,1367,4180,3069,...,13159,5: Western Australia,16939.0,BANDY CREEK,-33.401152,122.211127,-33.824551,121.939887,7.546166,
2458,6530,20788,3004,442,184,74,813,3967,10544,9174,...,33378,5: Western Australia,17130.0,BEACHLANDS,-28.802491,114.862505,-28.784674,114.603171,9.371442,
2505,6714,8038,1349,593,150,50,779,1490,3881,4297,...,17657,5: Western Australia,17383.0,ANTONYMYRE,-21.145063,116.349933,-20.654301,117.091562,5.051821,
2510,6722,4931,1437,411,53,17,700,1124,3664,1919,...,11305,5: Western Australia,17420.0,BOODARIE,-20.407853,118.606673,-20.427311,118.553492,4.537815,
2511,6725,5186,945,138,312,204,730,1484,2547,1832,...,11236,5: Western Australia,17426.0,BILINGURR,-18.773365,122.753792,-17.925502,122.233624,4.823781,

In [43]:
# Store WA Postcode by WA greater than 10,000 population 
wa_pg10000_postcode = wa_pop_greater_10000_df["Postcode"].astype(int)

In [44]:
wa_pg10000_postcode

2140    6000
2142    6004
2146    6008
2147    6009
2148    6010
        ...
2412    6450
2458    6530
2505    6714
2510    6722
2511    6725
Name: Postcode, Length: 90, dtype: int32

In [60]:
wa_pg10000_locations1 = wa_pop_greater_10000_df[["lat", "long"]].astype(float)

In [61]:
wa_pg10000_locations1

            lat        long
2140 -31.948762  115.859912
2142 -31.956931  115.874601
2146 -31.956599  115.811432
2147 -31.985791  115.804692
2148 -31.971647  115.776390
...         ...         ...
2412 -33.401152  122.211127
2458 -28.802491  114.862505
2505 -21.145063  116.349933
2510 -20.407853  118.606673
2511 -18.773365  122.753792

[90 rows x 2 columns]

In [62]:
#wa_pg10000_locations = wa_pop_greater_10000_df[["Latitude", "Longitude"]].astype(float)

In [63]:
#wa_pg10000_locations

In [64]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

In [65]:
#Figure(layout=FigureLayo# Customise the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

In [69]:
# Convert Mental Health to float and store
# HINT: be sure to handle NaN values

loc_mental_health = wa_pop_greater_10000_df["Mental Health Ratio"].astype(float)

In [72]:

#Heatmap

#marker_layer = gmaps.symbol_layer(wa_pg10000_locations)
fig_mental_health = gmaps.figure(center = (-28, 132) ,zoom_level = 3.7)
mental_health_layer = gmaps.heatmap_layer(wa_pg10000_locations1, weights=loc_mental_health, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 0.5)
fig_mental_health.add_layer(mental_health_layer)
#fig_mental_health.add_layer(marker_layer)
fig_mental_health

Figure(layout=FigureLayout(height='420px'))

In [51]:
# set up additional columns to hold information
wa_pop_greater_10000_df['Gyms'] = ""
gyms_df = wa_pop_greater_10000_df.reset_index(drop=True)
gyms_df.head(20)

C:\Users\dalem\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Postcode,House,Semi-detached,Apartment,Other dwelling,"No bedrooms (studios, etc)",1 bedroom,2 bedrooms,3 bedrooms,4 bedrooms,...,Total People,State,id,locality,lat,long,Lat_precise,Long_precise,Mental Health Ratio,Gyms
0,6000,1053,1405,9627,8,312,5210,8786,2654,398,...,13812,5: Western Australia,15676.0,CITY DELIVERY CENTRE,-31.948762,115.859912,-31.955000,115.855000,8.746018,
1,6004,426,676,10005,0,376,3560,8050,3754,422,...,11681,5: Western Australia,15682.0,EAST PERTH,-31.956931,115.874601,-31.954011,115.878793,7.328140,
2,6008,6589,2439,4672,21,175,3143,5534,5604,2180,...,16131,5: Western Australia,15688.0,DAGLISH,-31.956599,115.811432,-31.951851,115.809734,8.753332,
3,6009,8449,1808,2274,0,94,1033,3000,4487,3701,...,18936,5: Western Australia,15692.0,BROADWAY NEDLANDS,-31.985791,115.804692,-31.983680,115.814505,7.013097,
4,6010,8189,2857,3099,6,13,1379,4430,5590,4326,...,18863,5: Western Australia,15697.0,CLAREMONT,-31.971647,115.776390,-31.984246,115.778000,7.130361,
5,6014,10138,2149,4393,0,58,1949,6223,5724,4579,...,22092,5: Western Australia,15705.0,FLOREAT,-31.936389,115.808169,-31.934427,115.790646,7.016114,
6,6016,4789,1832,1547,34,3,714,3455,3714,1647,...,10818,5: Western Australia,15710.0,GLENDALOUGH,-31.921222,115.831181,-31.919233,115.820029,8.060640,
7,6018,21115,8872,2097,108,62,1674,6441,17255,9825,...,42250,5: Western Australia,15715.0,CHURCHLANDS,-31.891957,115.786821,-31.921546,115.789762,7.995266,
8,6019,8914,8379,2624,0,9,1096,7347,11623,4351,...,24351,5: Western Australia,15722.0,SCARBOROUGH,-31.907330,115.769183,-31.898032,115.771597,7.432960,
9,6020,12637,2698,819,0,87,361,2178,5389,7714,...,22581,5: Western Australia,15724.0,CARINE,-31.852698,115.765396,-31.851149,115.777646,6.213188,
10,6021,11164,5146,119,0,11,488,2277,8959,6046,...,20980,5: Western Australia,15729.0,BALCATTA,-31.871671,115.811933,-31.860175,115.810465,7.268827,
11,6023,10173,703,193,0,26,94,646,3065,6357,...,15982,5: Western Australia,15732.0,DUNCRAIG,-31.834469,115.774028,-31.830612,115.775270,7.264422,
12,6024,9469,814,47,0,0,55,493,4861,4608,...,13723,5: Western Australia,15734.0,GREENWOOD,-31.834890,115.803068,-31.824828,115.804795,8.525833,
13,6025,21051,2138,237,12,6,186,1154,10140,10780,...,31581,5: Western Australia,15736.0,CRAIGIE,-31.795830,115.754405,-31.785237,115.767583,7.650169,
14,6026,14376,1803,12,183,0,181,1179,4598,9636,...,22781,5: Western Australia,15740.0,KINGSLEY,-31.801707,115.799832,-31.811542,115.804392,7.997893,
15,6027,26655,2853,1758,30,55,1046,2479,11849,14808,...,42828,5: Western Australia,15742.0,BELDON,-31.763347,115.756405,-31.772597,115.767267,8.487438,
16,6028,14845,505,363,6,5,190,498,2627,10996,...,23559,5: Western Australia,15750.0,BURNS BEACH,-31.733717,115.747655,-31.724687,115.724896,6.914555,
17,6030,25583,2810,287,5,18,438,2756,9116,15483,...,40841,5: Western Australia,15755.0,CLARKSON,-31.687341,115.711684,-31.684368,115.726775,9.181950,
18,6031,11738,389,20,0,6,78,469,3378,7563,...,18645,5: Western Australia,15761.0,BANKSIA GROVE,-31.692538,115.772138,-31.703240,115.804993,8.436578,
19,6035,7272,201,7,0,6,16,377,2578,4036,...,11022,5: Western Australia,15767.0,YANCHEP,-31.524716,115.729901,-31.536528,115.733850,10.333878,

In [52]:
# Testing Autocomplete

# Set the hotel search radius

search_type = "gym"
search_radius = 10000

search_loc = "" 

count = 0

params = {
    "types": search_type,
    "radius": search_radius,
    "key": g_key,
    "postal_code":  
}

# use iterrows to iterate through pandas dataframe
for index, row in wa_pop_greater_10000_df.iterrows():
    # get location from df
    search_postcode = row['Postcode']
 
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    count=count+1
    
    #change location each iteration while leaving original params in place
    #params["location"] = f"{lat},{lng}"
    
    search_loc = f"{lat},{lng}"
    params["location"] = search_loc
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" #moved
    search_result = requests.get(base_url, params=params)
    gym_name = search_result.json()
    
    #Store the first hotel in dataframe
    
    try:
    # Print the name and address of the first hotel to appear
        print(f"{count} - A Gym in {search_postcode} to try is {gym_name['results'][0]['name']}.")
        wa_pop_greater_10000_df.loc[index, "Gym"] = gym_name["results"][0]["name"]
        
    except (KeyError, IndexError):
        wa_pop_greater_10000_df.loc[index, "Gym"] = "N/A"
        print("No results... skipping.")
        
    #print("----------------------------")

SyntaxError: invalid syntax (2113194059.py, line 17)

In [53]:
# Set the hotel search radius

search_type = "gym"
search_radius = 10000

search_loc = "" 

count = 0

params = {
    "types": search_type,
    "radius": search_radius,
    "key": g_key,
}

# use iterrows to iterate through pandas dataframe
for index, row in wa_pop_greater_10000_df.iterrows():
    # get location from df
    search_postcode = row['Postcode']
 
    # get lat, lng from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    count=count+1
    
    #change location each iteration while leaving original params in place
    #params["location"] = f"{lat},{lng}"
    
    search_loc = f"{lat},{lng}"
    params["location"] = search_loc
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" #moved
    search_result = requests.get(base_url, params=params)
    gym_name = search_result.json()
    
    #Store the first hotel in dataframe
    
    try:
    # Print the name and address of the first hotel to appear
        print(f"{count} - A Gym in {search_postcode} to try is {gym_name['results'][0]['name']}.")
        wa_pop_greater_10000_df.loc[index, "Gym"] = gym_name["results"][0]["name"]
        
    except (KeyError, IndexError):
        wa_pop_greater_10000_df.loc[index, "Gym"] = "N/A"
        print("No results... skipping.")
        
    #print("----------------------------")

KeyError: 'Latitude'

In [54]:
gym_name["results"]

NameError: name 'gym_name' is not defined